# Import Libraries

In [208]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from pandas_profiling import ProfileReport
import numpy as np
from sklearn.preprocessing import LabelEncoder , StandardScaler
import xgboost as xgb
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn. ensemble import GradientBoostingRegressor,RandomForestRegressor

# Loading Data

In [209]:
df = pd.read_csv('Train.csv')

In [210]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,4235.4750
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,604.4969
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2358.5261
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,811.6203
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,736.0226

In [211]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.250109
std,4.643456,0.051598,62.275067,8.371760,1485.314935
min,4.555000,0.000000,31.290000,1985.000000,-70.343796
25%,8.773750,0.026989,93.826500,1987.000000,1020.596825
50%,12.600000,0.053931,143.012800,1999.000000,1973.155200
75%,16.850000,0.094585,185.643700,2004.000000,2995.172000
max,21.350000,0.328391,266.888400,2009.000000,11394.745000

In [212]:
df.shape

(8523, 12)

In [213]:
#ProfileReport(df)

# Drop Columns

In [214]:
df.drop(columns = ['Item_Identifier'],inplace=True)

In [215]:
df.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,4235.4750
1,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,604.4969
2,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2358.5261
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,811.6203
4,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,736.0226

# Fill Null Values

In [216]:
df['Item_Weight'] = df['Item_Weight'].fillna(df['Item_Weight'].mean())

In [217]:
df['Outlet_Size'].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [218]:
df = df.fillna({'Outlet_Size':'Medium'})

# Replace Values

In [219]:
df = df.replace({'Item_Fat_Content' : {'low fat':'Low Fat' ,'LF' : 'Low Fat' ,'reg':'Regular'}})

# Label Encoding

In [220]:
lb = LabelEncoder()

In [221]:
outlet_size = df['Outlet_Size'].unique()
df['Outlet_Size'] = lb.fit_transform(df['Outlet_Size'])
outlet_size_num = df.Outlet_Size.unique()
outlet_size_df = pd.DataFrame(data = {'outlet_size': outlet_size ,'outlet_size_num':outlet_size_num})
outlet_size_df

  outlet_size  outlet_size_num
0      Medium                1
1        High                0
2       Small                2

In [222]:
item_fat = df.Item_Fat_Content.unique()
df['Item_Fat_Content'] = lb.fit_transform(df['Item_Fat_Content'])
item_fat_num = df.Item_Fat_Content.unique()
item_fat_df = pd.DataFrame(data = {'item_fat': item_fat ,'item_fat_num':item_fat_num})
item_fat_df

  item_fat  item_fat_num
0  Low Fat             0
1  Regular             1

In [223]:
Outlet_Location = df['Outlet_Location_Type'].unique()
df['Outlet_Location_Type'] = lb.fit_transform(df['Outlet_Location_Type'])
Outlet_Location_num = df['Outlet_Location_Type'].unique()
Outlet_Location_df = pd.DataFrame(data = {'Outlet_Location': Outlet_Location ,'Outlet_Location_num':Outlet_Location_num})
Outlet_Location_df

  Outlet_Location  Outlet_Location_num
0          Tier 1                    0
1          Tier 3                    2
2          Tier 2                    1

In [224]:
Outlet_Type = df['Outlet_Type'].unique()
df['Outlet_Type'] = lb.fit_transform(df['Outlet_Type'])
Outlet_Type_num = df['Outlet_Type'].unique()
Outlet_Type_df = pd.DataFrame(data = {'Outlet_Type': Outlet_Type ,'Outlet_Type_num':Outlet_Type_num})
Outlet_Type_df

         Outlet_Type  Outlet_Type_num
0  Supermarket Type1                1
1  Supermarket Type2                2
2      Grocery Store                0
3  Supermarket Type3                3

In [225]:
Item_Type = df['Item_Type'].unique()
df['Item_Type'] = lb.fit_transform(df['Item_Type'])
Item_Type_num = df['Item_Type'].unique()
Item_Type_df = pd.DataFrame(data = {'Item_Type': Item_Type ,'Item_Type_num':Item_Type_num})
Item_Type_df

                Item_Type  Item_Type_num
0                   Dairy              4
1             Soft Drinks             14
2                    Meat             10
3   Fruits and Vegetables              6
4               Household              9
5            Baking Goods              0
6             Snack Foods             13
7            Frozen Foods              5
8               Breakfast              2
9      Health and Hygiene              8
10            Hard Drinks              7
11                 Canned              3
12                 Breads              1
13          Starchy Foods             15
14                 Others             11
15                Seafood             12

In [226]:
Outlet_Identifier = df['Outlet_Identifier'].unique()
df['Outlet_Identifier'] = lb.fit_transform(df['Outlet_Identifier'])
Outlet_Identifier_num = df['Outlet_Identifier'].unique()
Outlet_Identifier_df = pd.DataFrame(data = {'Outlet_Identifier': Outlet_Identifier ,'Outlet_Identifier_num':Outlet_Identifier_num})
Outlet_Identifier_df

  Outlet_Identifier  Outlet_Identifier_num
0            OUT049                      9
1            OUT018                      3
2            OUT010                      0
3            OUT013                      1
4            OUT027                      5
5            OUT045                      7
6            OUT017                      2
7            OUT046                      8
8            OUT035                      6
9            OUT019                      4

In [227]:
df.dtypes

Item_Weight                  float64
Item_Fat_Content               int32
Item_Visibility              float64
Item_Type                      int32
Item_MRP                     float64
Outlet_Identifier              int32
Outlet_Establishment_Year      int64
Outlet_Size                    int32
Outlet_Location_Type           int32
Outlet_Type                    int32
Item_Outlet_Sales            float64
dtype: object

In [228]:
x = df.drop(columns = 'Item_Outlet_Sales' )

In [229]:
x

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,9.300,0,0.016047,4,249.8092,9,1999,1,0,1
1,5.920,1,0.019278,14,48.2692,3,2009,1,2,2
2,17.500,0,0.016760,10,141.6180,9,1999,1,0,1
3,19.200,1,0.000000,6,182.0950,0,1998,1,2,0
4,8.930,0,0.000000,9,53.8614,1,1987,0,2,1
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,0,0.056783,13,214.5218,1,1987,0,2,1
8519,8.380,1,0.046982,0,108.1570,7,2002,1,1,1
8520,10.600,0,0.035186,8,85.1224,6,2004,2,1,1
8521,7.210,1,0.145221,13,103.1332,3,2009,1,2,2
8522,14.800,0,0.044878,14,75.4670,8,1997,2,0,1

In [230]:
y = df['Item_Outlet_Sales']

In [231]:
y

0       4235.4750
1        604.4969
2       2358.5261
3        811.6203
4        736.0226
          ...
8518    2955.1711
8519    1634.5360
8520    1241.0330
8521    1696.4160
8522    1014.8792
Name: Item_Outlet_Sales, Length: 8523, dtype: float64

In [233]:
x1 = df.drop(columns = "Item_Outlet_Sales")

# Standard scalling

In [234]:
scaler = StandardScaler()

In [235]:
x_scalar = scaler.fit_transform(x1)

In [236]:
x_scalar

array([[-0.84187169, -0.73814723, -0.97073217, ..., -0.28458121,
        -1.36933384, -0.25265831],
       [-1.64170589,  1.35474328, -0.90811123, ..., -0.28458121,
         1.09156913,  1.00297245],
       [ 1.09855449, -0.73814723, -0.95691733, ..., -0.28458121,
        -1.36933384, -0.25265831],
       ...,
       [-0.53424315, -0.73814723, -0.59978449, ...,  1.38127431,
        -0.13888236, -0.25265831],
       [-1.33644372,  1.35474328,  1.53287976, ..., -0.28458121,
         1.09156913,  1.00297245],
       [ 0.45963367, -0.73814723, -0.41193591, ...,  1.38127431,
        -1.36933384, -0.25265831]])

In [237]:
x_df = pd.DataFrame(x_scalar)

In [238]:
x_df

,0,1,2,3,4,5,6,7,8,9
0,-0.841872,-0.738147,-0.970732,-0.766479,1.747454,1.507813,0.139541,-0.284581,-1.369334,-0.252658
1,-1.641706,1.354743,-0.908111,1.608963,-1.489023,-0.607071,1.334103,-0.284581,1.091569,1.002972
2,1.098554,-0.738147,-0.956917,0.658786,0.010040,1.507813,0.139541,-0.284581,-1.369334,-0.252658
3,1.500838,1.354743,-1.281758,-0.291391,0.660050,-1.664513,0.020085,-0.284581,1.091569,-1.508289
4,-0.929428,-0.738147,-1.281758,0.421242,-1.399220,-1.312032,-1.293934,-1.950437,1.091569,-0.252658
...,...,...,...,...,...,...,...,...,...,...
8518,-1.418084,-0.738147,-0.181193,1.371418,1.180783,-1.312032,-1.293934,-1.950437,1.091569,-0.252658
8519,-1.059578,1.354743,-0.371154,-1.716656,-0.527301,0.802852,0.497909,-0.284581,-0.138882,-0.252658
8520,-0.534243,-0.738147,-0.599784,0.183698,-0.897208,0.450371,0.736822,1.381274,-0.138882,-0.252658
8521,-1.336444,1.354743,1.532880,1.371418,-0.607977,-0.607071,1.334103,-0.284581,1.091569,1.002972
8522,0.459634,-0.738147,-0.411936,1.608963,-1.052261,1.155333,-0.099372,1.381274,-1.369334,-0.252658

In [295]:
x_train , x_test ,y_train , y_test = train_test_split(x_scalar , y , test_size = .10,random_state =  250)

# Models fitting

# Linear Regression

In [296]:
from sklearn.linear_model import LinearRegression

In [297]:
model = LinearRegression()

In [298]:
model.fit(x_train, y_train)

LinearRegression()

In [299]:
model.score(x_train,y_train)*100

67.13299887896203

In [300]:
model.score(x_test, y_test)*100

69.53009803017632

In [301]:
y_test_pred = model.predict(x_test)

In [302]:
import sklearn.metrics as sm
print("Mean absolute error =", round(sm.mean_absolute_error(y_test, y_test_pred), 2)) 
print("Mean squared error =", round(sm.mean_squared_error(y_test, y_test_pred), 2)) 
print("Median absolute error =", round(sm.median_absolute_error(y_test, y_test_pred), 2)) 
print("Explain variance score =", round(sm.explained_variance_score(y_test, y_test_pred), 2)) 
print("R2 score =", round(sm.r2_score(y_test, y_test_pred), 2))

Mean absolute error = 601.01
Mean squared error = 646903.45
Median absolute error = 472.47
Explain variance score = 0.7
R2 score = 0.7

## XgBoost

In [303]:
xgb_model_1 = xgb.XGBRegressor(learning_rate = .01, n_estimators = 400)

In [304]:
xgb_model_1.fit(x_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.01, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=400, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [305]:
xgb_model_1.score(x_train,y_train)

0.8385486206294918

In [306]:
xgb_model_1.score(x_test,y_test)

0.8332926485737466

In [294]:
y_test_pred = xgb_model_1.predict(x_test)

In [280]:
y_test_pred

array([3116.4783  , 6193.6694  ,  613.4025  , 1697.7711  , 2125.5286  ,
       2382.0051  ,  292.78546 , 1842.6506  ,  851.34344 , 1652.1437  ,
       4637.949   ,  261.99585 ,  343.87076 ,  854.8293  ,  776.3687  ,
       4369.8975  , 1871.5466  ,  797.0273  , 2355.2764  , 2033.5482  ,
       3782.0334  , 3226.5393  , 3274.6191  , 3813.8596  , 1382.854   ,
       1625.7565  ,  654.94507 ,  372.55942 ,  618.2142  , 3594.451   ,
        948.2759  , 3047.3374  , 6136.3887  , 1714.1307  , 1286.2754  ,
        573.3441  , 4790.196   , 3800.522   , 1515.3381  , 3719.4065  ,
       3648.2563  , 1532.498   , 3452.394   , 2617.0015  , 3486.3975  ,
       2352.4924  ,  526.1061  , 1335.748   , 3207.8657  ,  649.36804 ,
       2536.3733  , 3513.2754  , 2590.5425  , 2792.622   , 2692.9675  ,
       3877.4822  , 1353.7858  , 4391.0254  , 1642.4553  , 3146.8464  ,
       1647.3577  ,  477.5167  , 2446.0952  ,  302.97156 ,  123.766106,
        569.3236  ,  656.5585  ,  309.30078 , 3036.8584  , 1089.0251  ,
       2828.3762  , 3132.9546  ,  665.88336 , 4236.92    , 2277.077   ,
         75.031   ,  397.4904  , 3423.1165  , 2111.5571  , 1663.5598  ,
       1154.7299  , 3032.47    , 2339.4626  , 3796.7986  , 2892.2893  ,
       3717.9546  , 2151.0872  , 1486.099   , 2471.8035  , 5410.459   ,
       5224.1533  , 3467.2007  , 3638.0583  , 2598.5652  , 4034.6838  ,
       1474.5135  , 1481.1993  , 1888.4464  , 2319.3696  ,  612.4155  ,
       1610.3922  , 2363.5103  , 3314.0168  , 3308.8853  , 2436.6174  ,
         91.8989  , 2351.507   ,  194.95537 , 2174.6016  , 4041.1575  ,
        532.23065 , 2236.671   , 3441.6462  , 3068.566   , 1636.0399  ,
       4264.059   , 3601.0078  , 1333.8641  , 3446.0225  ,  519.70953 ,
       2972.4587  , 2413.6404  ,  304.98203 , 3776.0034  , 5031.006   ,
       3064.703   , 1364.6449  , 3124.2063  , 3099.6619  , 3213.0461  ,
        296.81372 ,  428.53018 , 2345.912   , 3238.5945  , 3279.289   ,
        492.5522  , 3265.647   , 2486.1084  ,  663.385   ,  764.8099  ,
         75.49934 , 3364.4868  , 3923.7766  ,  299.3346  ,  560.9958  ,
       1284.3572  , 2019.2167  , 2157.2866  , 2443.655   , 1482.8497  ,
       1157.0801  , 1871.5161  , 2631.2766  , 3834.063   , 1202.7318  ,
       2106.7822  , 3667.503   , 1980.1215  , 3275.723   , 1838.9567  ,
        295.50983 ,  295.7286  ,  259.34018 ,  372.15997 , 3845.8184  ,
       2975.0273  ,  605.761   , 2651.4502  ,  351.2497  , 1289.9117  ,
       3846.332   , 1650.566   , 3339.0176  , 2393.9749  ,  180.9134  ,
        947.3123  , 3099.252   ,   81.08355 , 5190.193   , 3753.5295  ,
       5413.6777  , 1331.8464  , 2716.2634  , 1857.8387  , 2338.0593  ,
       2517.9412  , 2385.355   , 2049.092   ,  500.26767 , 4355.8643  ,
       1931.3993  , 3903.9563  , 2388.3687  , 4745.2144  , 1418.5762  ,
       2539.9487  ,  499.85104 , 1525.6396  , 2404.7585  , 1127.255   ,
       2724.4543  ,  234.07124 , 2932.54    ,  511.88257 ,  512.4485  ,
       1980.4823  , 3061.3303  ,  942.7289  ,  193.093   , 2007.5356  ,
       3060.404   , 1836.7528  , 3077.5134  , 2011.5764  , 2468.2517  ,
       3217.9236  , 2987.0537  , 4206.1406  , 5610.802   ,  208.98868 ,
       2543.2786  , 2109.399   , 5737.214   , 1798.1462  ,  448.61392 ,
        531.38715 , 2769.7673  , 1408.8677  ,  168.08507 ,  237.90685 ,
       1842.6506  , 2943.2324  , 2269.5466  , 1659.2225  ,  475.46713 ,
       3038.7822  ,  664.97174 , 3082.7903  , 2226.1355  , 3200.2214  ,
       1926.077   ,  437.39508 ,  667.3891  , 2513.9636  , 1664.0565  ,
       1900.4607  , 3944.6873  , 1860.1077  , 3649.729   , 3097.511   ,
        375.44064 , 2017.4027  ,  626.7281  , 5105.3945  ,  435.0745  ,
        532.6631  ,  116.202896, 2471.8035  , 3753.3125  , 2784.9106  ,
       3586.753   , 1536.8889  , 1663.3643  , 2743.6648  , 3123.1155  ,
       2119.691   , 3046.698   , 2909.2761  , 2771.7473  ,  947.14777 ,
       2404.4714  , 1060.4879  ,  534.6963  , 1189.4082  ,  510.59946 ,
       5417.093   , 1554.6924  , 3934.2698  ,  206.98178 , 2058.8396  ,
       1684.6655  , 2908.4597  , 1063.212   , 5708.2476  , 2074.6396  ,
       4565.7134  ,  532.5884  , 2126.813   , 1685.1974  , 1812.583   ,
       3671.8572  , 3971.9907  , 2372.7698  , 1476.9636  , 2530.31    ,
       4132.1865  ,  794.30194 , 3266.4204  , 3889.1064  ,  942.458   ,
       1866.716   , 2712.2834  , 1558.8591  , 1822.532   ,  872.74817 ,
        637.52563 , 1726.6104  , 4641.465   , 5235.564   ,  865.46826 ,
       3243.4832  , 2910.0408  , 4405.8447  , 2201.5842  , 3983.3992  ,
       2365.6057  ,  152.45944 , 1307.0076  , 2556.8176  , 2940.0623  ,
       2453.6973  , 2201.3516  , 1366.4797  ,  343.5075  , 2558.621   ,
       1734.8186  , 3708.0818  , 3291.1956  , 1324.9714  , 4396.054   ,
       3056.9788  , 3921.6663  , 4349.9536  , 2698.156   ,  840.839   ,
        665.88336 , 1846.6855  , 3036.0715  ,  945.4854  ,  788.7689  ,
       2164.5603  , 2503.0828  , 2058.4902  , 2466.8147  , 3921.7769  ,
        667.5524  ,   83.1089  , 2825.604   , 2132.7444  ,  331.40604 ,
        938.79474 , 3634.5056  , 2239.0347  , 2572.3577  , 3043.7935  ,
        923.8179  ,  666.36273 ,  100.33503 ,  403.2478  , 2933.9329  ,
        601.5771  , 1330.4698  , 1313.9836  , 3459.412   , 1928.5099  ,
       5519.8745  , 1636.0886  ,  567.5087  ,  665.4233  , 3101.2844  ,
       1471.9716  ,  807.3783  ,  360.89328 ,  666.9256  , 3363.8809  ,
       3003.272   , 5207.8394  , 2491.4622  , 1261.836   , 1586.4364  ,
       2460.4578  , 1886.9131  , 1213.1494  , 2731.9775  , 1640.1578  ,
       2784.173   ,  731.93414 , 1390.3893  , 3939.3708  , 3950.829   ,
       1338.1321  , 1627.4105  ,  229.08264 , 4017.045   ,  351.97754 ,
       2034.9552  , 1586.1808  , 1845.9286  , 2832.3147  ,  993.1215  ,
       3328.944   ,  662.8114  ,  926.45294 ,  666.9256  , 1562.103   ,
       3049.2375  , 3153.275   , 3424.855   , 1427.507   , 3621.0293  ,
       1746.4048  ,  796.91943 , 1539.6454  , 2172.4692  , 1657.0773  ,
       1210.8431  , 2366.6694  , 1405.101   , 3747.8047  , 3408.5027  ,
       1494.308   , 2546.33    , 1387.0648  ,  775.68225 ,  240.08968 ,
       2338.6401  , 2824.3713  , 5139.52    , 1750.7695  , 1771.4823  ,
        139.17604 , 6206.6016  ,  637.73474 , 1572.3666  , 2386.829   ,
       6257.8433  , 2401.617   , 1760.1472  , 5228.5435  , 3197.1094  ,
        885.4169  ,  356.16888 , 2458.078   , 1850.1008  , 1700.5577  ,
        775.0605  , 3045.2446  , 2666.4348  , 2095.4448  , 3148.1973  ,
       4993.849   , 2463.4932  , 1302.8542  , 1949.1888  , 1483.4344  ,
       2382.9834  ,  794.5338  , 1496.7273  , 2992.8218  , 3033.131   ,
        499.58246 , 4160.918   , 4004.928   , 3009.9224  , 1361.7677  ,
       2643.4827  , 5101.271   , 3079.401   , 3659.2568  , 2118.5725  ,
        858.48914 , 1316.1989  , 3018.0037  ,  678.53595 , 1863.4714  ,
       2508.0647  , 3178.0273  ,  267.30115 , 1049.9169  , 2114.7295  ,
       3198.4922  , 2443.655   , 1720.4486  ,  232.8471  , 2218.8022  ,
        476.62137 , 1351.2335  , 5484.685   ,  276.27985 , 3046.389   ,
       4369.596   , 3830.5615  , 3068.3418  , 1976.6432  , 2124.4656  ,
        767.8109  , 2424.9854  , 2304.2407  , 1753.1228  , 3339.4229  ,
       1638.0587  , 2019.9612  , 3365.4397  ,  291.1175  ,  561.77856 ,
        237.14194 , 1477.0814  ,  570.4384  ,  490.35632 , 2575.6538  ,
       3432.853   ,  226.24419 , 2118.186   , 2419.635   ,  860.40656 ,
       3073.7632  , 3786.7747  , 2543.524   , 3326.587   , 3154.1184  ,
       3031.7004  , 5838.496   , 3406.8142  , 3750.1646  ,  609.2321  ,
        944.9685  , 1282.7101  ,  998.8789  , 2759.0464  , 3019.2942  ,
       3357.3625  , 3226.0706  , 3263.5635  ,  772.8893  ,  667.829   ,
        327.25378 , 1719.0404  , 1348.9592  ,  660.56696 , 3816.0437  ,
        543.5077  , 2489.981   , 1274.5911  , 2560.4983  , 2478.745   ,
        651.82367 ,  659.4819  , 3395.0469  ,  768.34937 , 2883.5398  ,
        579.66327 , 1506.3562  , 3042.2239  ,  195.55943 , 3612.1638  ,
       3415.6206  ,  636.3599  , 1533.6022  , 2828.6316  , 1851.269   ,
       2776.7295  , 1678.35    , 2450.3235  , 2509.199   ,  332.67953 ,
       2366.11    , 2042.6125  , 4813.016   , 2059.8655  ,  666.54175 ,
       1050.4515  , 2631.8538  , 3274.0706  , 4001.418   , 3102.109   ,
        674.0165  , 1264.2404  , 1768.3184  , 3655.8506  , 3669.9902  ,
       1492.3423  ,  651.3164  ,  581.0637  , 1968.6069  , 3003.5225  ,
        685.4631  , 1258.2787  ,  589.9723  , 2052.359   , 2476.6377  ,
        766.5182  , 1048.2104  ,  851.88007 , 2730.483   , 2550.441   ,
       1495.3644  , 3346.7517  , 2105.405   , 2475.9373  , 2574.6716  ,
       1922.1099  , 3046.6135  , 4047.5815  , 1290.5077  , 2481.6865  ,
       1829.9545  ,  711.7249  , 3125.3384  , 5444.5947  , 1860.2955  ,
        867.04376 , 2727.0347  , 1341.6343  , 1617.5271  , 1499.0602  ,
        782.27734 , 1064.9847  , 3146.3792  , 2862.6243  , 1844.5742  ,
       1650.7095  , 1404.1581  ,  441.49734 ,  232.52235 , 2782.1064  ,
       2470.8652  , 2588.8203  , 2366.005   , 1585.013   ,  735.4995  ,
        499.7752  , 1945.7853  , 2441.492   , 3472.061   ,  101.87217 ,
       1387.8823  , 2129.8499  , 1336.9001  , 1283.3646  ,  984.0099  ,
       2389.968   , 3956.6953  ,  488.17776 , 1844.1956  , 4458.583   ,
       1063.1902  , 1492.8206  , 3347.4182  , 3685.5686  , 6267.7173  ,
       4027.4785  ,  131.16269 , 1359.4126  , 3060.404   ,  451.36584 ,
       1212.0027  ,  354.6632  ,  773.9976  , 2495.0005  , 2853.584   ,
       2898.6355  , 2373.9893  , 2508.893   , 3102.9634  ,  841.4925  ,
         77.78112 , 2697.7002  , 2482.864   ,  611.3858  ,  233.2707  ,
        407.9533  , 3999.5881  ,  289.46582 , 3794.2659  , 2482.4512  ,
       2049.6672  , 3982.2334  ,  659.8569  , 1790.4352  , 3777.0151  ,
       3130.3242  ,  560.0511  , 2062.8538  , 1573.0261  , 1670.37    ,
       1993.498   , 3003.9268  ,  251.92867 , 1500.1783  ,  416.953   ,
       1966.6344  ,  779.9448  , 3864.9158  , 2507.4675  ,  343.20236 ,
       4129.607   , 3277.164   , 1334.5455  , 1556.5487  , 1184.4214  ,
        457.17508 , 1246.3821  , 1232.4191  , 1396.8983  ,  437.20605 ,
        234.42233 , 2452.7524  , 3156.1     ,  871.8935  , 1162.9612  ,
        920.22504 , 2355.5696  , 5755.282   , 2062.2373  ,  803.3402  ,
       3824.9387  , 3103.3464  , 3897.1194  , 3200.38    , 1936.7223  ,
       2331.5464  , 2591.6296  ,   86.776634,  646.5564  ,  672.7322  ,
        336.43982 , 1937.513   ,  591.0132  , 2063.0662  ,  745.0353  ,
       2397.5383  , 2980.3801  ,  664.701   , 2195.9194  , 2383.7668  ,
       2008.208   , 2604.2056  , 2391.7334  , 2219.2275  ,  353.47366 ,
       1516.7043  , 2654.1165  , 2552.9126  , 2748.9424  ,  487.62546 ,
       4130.643   , 2536.0527  , 1041.9443  , 3131.1624  , 1848.4208  ,
       3297.9663  , 4272.657   , 3239.545   , 2023.7506  ,  882.0585  ,
       2842.891   , 4083.3748  , 3190.5593  ,  604.7505  , 3491.1392  ,
       4046.9143  , 2011.2144  , 2476.2205  , 2126.4272  , 3196.7466  ,
       2963.2866  , 1659.4886  , 1508.0792  ,  512.32275 , 2106.7944  ,
       2613.322   , 3892.3728  , 2785.5264  , 2400.9197  , 1659.8824  ,
       1659.0293  ,  505.48724 ,  245.4308  , 3778.275   ,  651.5944  ,
       2474.6003  ,  772.0279  ,  346.28018 , 3989.255   ,  876.8721  ,
       2055.699   , 1634.377   , 4183.261   , 2513.767   , 3611.5173  ,
       2521.72    , 2284.1658  , 2718.6726  , 1669.5977  , 4008.286   ,
       5775.135   ,  776.8093  , 2188.5442  , 2612.3364  , 1398.9612  ,
       2381.128   , 1653.079   , 3686.2646  , 3839.9314  , 1208.6481  ,
        248.0899  , 5690.042   , 2683.4485  , 3749.0579  ,  344.22797 ,
       2005.2377  , 1348.1364  , 3389.9417  , 2407.0972  , 1237.0779  ,
        965.245   , 3314.7656  , 2370.9373  , 1411.5228  , 3363.6382  ,
        178.50905 , 2437.2427  , 1595.2421  , 5384.1064  ,  854.465   ,
        714.355   , 3428.2456  , 2195.5735  , 3734.655   , 4187.674   ,
       2064.7717  , 3150.1628  , 3089.4238  , 2477.3333  , 1732.0115  ,
       4374.201   , 2745.0786  , 3743.2651  ,  993.34735 , 4255.5195  ,
       2854.0498  ,  197.11551 , 1781.2615  ,  228.08138 , 1433.502   ,
        783.7682  , 3800.439   , 3937.585   ,  178.05084 , 1484.479   ,
        324.1779  , 2678.867   , 2286.7554  ], dtype=float32)

In [281]:
import sklearn.metrics as sm
print("Mean absolute error =", round(sm.mean_absolute_error(y_test, y_test_pred), 2)) 
print("Mean squared error =", round(sm.mean_squared_error(y_test, y_test_pred), 2)) 
print("Median absolute error =", round(sm.median_absolute_error(y_test, y_test_pred), 2)) 
print("Explain variance score =", round(sm.explained_variance_score(y_test, y_test_pred), 2)) 
print("R2 score =", round(sm.r2_score(y_test, y_test_pred), 2))

Mean absolute error = 389.4
Mean squared error = 353934.71
Median absolute error = 207.22
Explain variance score = 0.83
R2 score = 0.83

## Gradient Boost

In [307]:
 gb_parameters = {'learning_rate':[0.15,0.1,0.05,0.01,0.005,0.001], 
                         'n_estimators':[100,250,500,750,1000,1250,1500,1750],
                         'max_depth':[2,3,4,5,6,7],
                         'min_samples_split':[2,4,6,8,10,20,40,60,100],
                         'min_samples_leaf':[1,3,5,7,9],
                         'max_features':[2,3,4,5,6,7],
                         'subsample':[0.7,0.75,0.8,0.85,0.9,0.95,1]
                        }

In [308]:
gb_reg = GradientBoostingRegressor()
random_gb = RandomizedSearchCV(estimator=gb_reg,
                                        param_distributions=gb_parameters,
                                        cv=5,
                                        scoring='neg_root_mean_squared_error',
                                        n_iter=10,
                                        n_jobs=-1,
                                        verbose=2,
                                        random_state=101
                                        )

In [309]:
random_gb.fit(x_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

RandomizedSearchCV(cv=5, estimator=GradientBoostingRegressor(), n_jobs=-1,
                   param_distributions={'learning_rate': [0.15, 0.1, 0.05, 0.01,
                                                          0.005, 0.001],
                                        'max_depth': [2, 3, 4, 5, 6, 7],
                                        'max_features': [2, 3, 4, 5, 6, 7],
                                        'min_samples_leaf': [1, 3, 5, 7, 9],
                                        'min_samples_split': [2, 4, 6, 8, 10,
                                                              20, 40, 60, 100],
                                        'n_estimators': [100, 250, 500, 750,
                                                         1000, 1250, 1500,
                                                         1750],
                                        'subsample': [0.7, 0.75, 0.8, 0.85, 0.9,
                                                      0.95, 1]},
                   random_state=101, scoring='neg_root_mean_squared_error',
                   verbose=2)

In [310]:
 best_param = random_gb.best_params_

In [311]:
gb_model = GradientBoostingRegressor(subsample = best_param['subsample'],
                                                n_estimators = best_param['n_estimators'],
                                                min_samples_split = best_param['min_samples_split'],
                                                min_samples_leaf = best_param['min_samples_leaf'],
                                                max_features = best_param['max_features'],
                                                max_depth = best_param['max_depth'],
                                                learning_rate = best_param['learning_rate'])

In [312]:
gb_model.fit(x_train,y_train)

GradientBoostingRegressor(learning_rate=0.05, max_depth=6, max_features=5,
                          min_samples_leaf=5, min_samples_split=20,
                          n_estimators=750, subsample=0.85)

In [313]:
gb_model.score(x_train,y_train)

0.9468557421535003

In [314]:
gb_model.score(x_test,y_test)

0.8427103739021591

In [318]:
y_test_pred = gb_model.predict(x_test)

In [319]:
import sklearn.metrics as sm
print("Mean absolute error =", round(sm.mean_absolute_error(y_test, y_test_pred), 2)) 
print("Mean squared error =", round(sm.mean_squared_error(y_test, y_test_pred), 2)) 
print("Median absolute error =", round(sm.median_absolute_error(y_test, y_test_pred), 2)) 
print("Explain variance score =", round(sm.explained_variance_score(y_test, y_test_pred), 2)) 
print("R2 score =", round(sm.r2_score(y_test, y_test_pred), 2))

Mean absolute error = 378.49
Mean squared error = 333940.04
Median absolute error = 218.07
Explain variance score = 0.84
R2 score = 0.84

## Random Forest

In [52]:
 rf_parameters={'n_estimators': [100,200,300,400,500,600],
                       'max_features': ['auto', 'sqrt'],
                       'max_depth': [int(x) for x in np.linspace(10, 110, num = 11)],
                       'min_samples_split': [2, 5, 10],
                       'min_samples_leaf': [1, 2, 4],
                       'bootstrap': [True, False]
                      }

In [53]:
rf_reg = RandomForestRegressor()
random_rf = RandomizedSearchCV(estimator=rf_reg,
                                        param_distributions=rf_parameters,
                                        cv=5,
                                        scoring='neg_root_mean_squared_error',
                                        n_iter=10,
                                        n_jobs=-1,
                                        verbose=2,
                                        random_state=101
                                        )

In [54]:
random_rf.fit(x_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600]},
                   random_state=101, scoring='neg_root_mean_squared_error',
                   verbose=2)

In [55]:
best_param = random_rf.best_params_

In [56]:
rf_model = RandomForestRegressor(n_estimators = best_param['n_estimators'],
                                            min_samples_split = best_param['min_samples_split'],
                                            min_samples_leaf = best_param['min_samples_leaf'],
                                            max_features = best_param['max_features'],
                                            max_depth = best_param['max_depth'],
                                            bootstrap = best_param['bootstrap'])

In [57]:
rf_model.fit(x_train,y_train)

RandomForestRegressor(max_depth=10, max_features='sqrt', min_samples_leaf=2,
                      n_estimators=400)

In [58]:
rf_model.score(x_train,y_train)

0.682132839229031

In [59]:
rf_model.score(x_test,y_test)

0.6232745632936549

In [ ]:
y_test_pred = rf_model.predict(x_test)

In [ ]:
import sklearn.metrics as sm
print("Mean absolute error =", round(sm.mean_absolute_error(y_test, y_test_pred), 2)) 
print("Mean squared error =", round(sm.mean_squared_error(y_test, y_test_pred), 2)) 
print("Median absolute error =", round(sm.median_absolute_error(y_test, y_test_pred), 2)) 
print("Explain variance score =", round(sm.explained_variance_score(y_test, y_test_pred), 2)) 
print("R2 score =", round(sm.r2_score(y_test, y_test_pred), 2))

In [320]:
pickle.dump(xgb_model_1, open("BigMart_Prediction.pkl", "wb"))

In [ ]:
pickle.dump(scaler, open("Standardscaler.pkl", "wb"))